.rent {
	background: url("../../assets//aboutUs.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
	max-width: 100%;
}

.pagination {
	display: flex;
	justify-content: center;
}
.previous {
	color: #fff;
	/* background-color: #fff; */
}

.next {
	color: #fff;
}

.activeBtn {
	color: #fff;
}
