@media screen and (max-width: 767px) {
	.burger {
		flex-direction: column;
	}
	.hidden {
		background-color: #ccc;
		z-index: 1;
	}
}

.btn-favorites {
	background-color: none;
	border: none;
}

.w-7rem {
	width: 7rem;
}
